PORT = 3000
MONGODB_URI = mongodb+srv://{username}:{pass}@cluster0.k3agmla.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET = KOINYTENWW#23$@%^joeiowqpowqp--092-39-3eiwnfmaopeqwmc23?/&%skejj873mkuwRERerGSAQETYF102903#%*
ACCESS_TOKEN_EXPIRY = 1d
REFRESH_TOKEN_SECRET = UIEWYkoepwoenfkm444232klspo_lp0qqww45@21893983%%3!@?/18912jelw?lwer89040424-09485983902044431;lpoe9833kklweiwoem,.sdleeq
REPRESH_TOKEN_EXPIRY = 10d